html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button {
  position: absolute;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  top: 30%;
}
#refresh-button {
position: absolute;
}
